/* CSS for resume */




body{
	background-image: url("background.jpg");
	padding-left: 100px;
	padding-right: 100px;
	padding-top:50px;
	padding-bottom:30px;
	font-family: 'Noto Serif Display', serif;
	color: midnightblue;

}

h1{ font-family: 'Noto Serif Display', serif;
	text-align: left;
	text-decoration: underline;




}
h2{ font-family: 'Noto Serif Display', serif;	
	text-align: left;

}
h3{
	font-size: 50px;

	
}
		


p{ 
	padding-bottom:25px;

	
}
img{
	
	border-radius: 100%;
	border: 5px solid ;
	width:300px;


}

li {
	margin: 0;
	padding: 5px 50px 5px;
	list-style: none;
	background-image: url("bulletpoint2.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#movedown{
	margin-top:70px;
}


.bg-dark{

	background-color: #8FB8CA !important;
	
}

